* {
  margin: 0;
}

.App {
  background: #000814;
  color: #fff;
	 width: 100%;
	 display: flex;
   flex-direction: column;
	 height: 100vh;
	 justify-content: center;
}

.title-site {
  margin: 0 auto;
}

.title-site, .content{
  width: 35rem;
  text-align: center;
  padding-top: 3rem;
}

.content {
  margin: auto;
  background-color: #003566;
  width: 25rem;
  border-radius: 15px 50px 30px;
  padding: 3rem;
}

.search-user input {
  padding: 10px;
  border: 1px solid rgba(#003566, 0.5);
  outline: 0;
  border-radius: 10px 0px 0px 10px;
}

.search-user button {
  padding: 12px;
  background-color: #FFC300;
  color: #000814;
  border: #FFC300;
  border-radius: 0 10px 10px 0;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-greetings {
  padding: 3rem 0;
}

.message {
  padding-bottom: 3rem;
}

.language {
  font-size: 4rem;
}

